<p>{{'Fecha:' | uppercase }}{{ today | date:'short' }}</p>

<p>Tiempo pasado {{ today | timeAgo }}</p>
<p>Cantidad de productos: {{ myShoppingCart.length }}</p>

<p>Precio total $ {{ total }}</p>

<button (click)="createNewProduct()">create</button>
<button (click)="onShowDetail('2555523')">not found</button>
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
  <button (click)="loadMore()">Load More</button>
</div>

<div class="product-detail" [class.active]="showProductDetail">
  {{ statusDetail }}
  <div *ngIf="productChosen">
    <button (click)="toggleProductDetail()">Close</button>
    <h1>{{ productChosen.title }}</h1>
    <swiper [slidesPerView]="1">
      <ng-template swiperSlide *ngFor="let image of productChosen.images"
        ><img [src]="image" alt=""
      /></ng-template>
    </swiper>
    <p>{{ productChosen.description }}</p>
    <button (click)="updateProduct()">Editar</button>
    <button (click)="deleteProduct()">Eliminar</button>
  </div>
</div>

<!--
Si vamos a estar conociendo los pipes(|)debemos empezar por definirlos, un Pipe es una función pura,
o sea, una función que dado un determinado valor siempre devolverá el mismo resultado.

Los Pipes no modifican el valor de un dato, simplemente le cambian el aspecto visual,
Angular utiliza el concepto de Pipes para la transformación de datos.

 -->
